# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/
diode/

# ruff
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dymola
Modelica_Examples/*.txt
*.mof
Modelica_Examples/*.xml
*.mat
dsmodel*.c
*.exe
request
status

# Diode.jl output directory
Generated_Files/